/*#region Commons*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    color: #e53170;
    margin-bottom: 1.5rem;
}

.header_description{
    margin-bottom: 1.5rem;
    color: black;
}

.row{
    margin-top: 3rem;
}

h3{
    color: white;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

p{
    color: grey;
    margin: 10px;
}

.email_text{
    color: rgb(19, 144, 247);
}

img{
    max-width: 100px;
    float: left;
    width: 100%;
}



.row{
    margin-top: 3rem;
}

h3{
    color: white;
    margin-left: 0.5rem;
}

/*#endregion*/


/*#region header*/

.container_header{
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
}

/*#endregion*/

/*#region main*/

.container{
    width: 80%;
    margin: auto;
    max-width: 1170px;
}

.col{
    float: left;
    width: calc(100% / 3 - 1rem);
    background-color: black;
    box-shadow: 0 0 12px grey;
    margin-right: 1rem;
}

.card_text{
    float: left;
}

/*endregion*/
